[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/BEE4750/hw01
	branch = Fall25
[submodule "labs/lab01"]
	path = labs/lab01
	url = https://github.com/bee-envsys-cornell/lab01
	branch = Fall25
[submodule "hw/hw02"]
	path = hw/hw02
	url = https://github.com/bee-envsys-cornell/hw02
	branch = Fall25
[submodule "hw/hw03"]
	path = hw/hw03
	url = https://github.com/bee-envsys-cornell/hw03
	branch = Fall25
[submodule "labs/lab02"]
	path = labs/lab02
	url = https://github.com/bee-envsys-cornell/lab02
	branch = Fall25
[submodule "hw/hw04"]
	path = hw/hw04
	url = https://github.com/bee-envsys-cornell/hw04
	branch = Fall25
